.App {
  /* background-color: brown; */
  text-align: center;
  /* min-height: 100%; */
}

.router-content {
  background-color: whitesmoke;
  /* min-height: 100%; */
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}

@media all and (max-width: 800px) {
  .router-content {
    width: 92%;
  }
}
