@font-face {
  font-family: 'MyJost';
  /* src: url('./fonts/MavenPro-VariableFont_wght.ttf'); */
  src: url('./fonts/Jost-VariableFont_wght.ttf');
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'MyJost';
  font-size: x-large;
}

@media all and (max-width: 800px) {
  body {
    font-size: large;
  }
}

/* body, html {
  min-height: 90%;
  background-color: bisque;
} */
